body {
  margin: 0;
  height: 100vh;
  background: #eff4f2;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-video {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  object-fit: cover;
  background: #eff4f2;
  opacity: 1;
}

.video-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  object-fit: cover;
  background: #627C8550;
  opacity: 1;
  z-index: 8;
}

.cover {
  width: 100%;
  height: 100vh;
  background: #eff4f200;
}

.oceanica-img {
  position: absolute;
  opacity: 0;
  transition: all .2s;
  width: 38vw;
  z-index: 11;
}

.home-img {
  width: 39vw;
  position: absolute;
  right: 2vw;
  top: 2vw;
  opacity: 0; 
  transition: all .2s;
  z-index: 11;
}

/*Circle Images*/
.oceanica-img-circle {
  position: absolute;
  opacity: 0;
  transition: all .2s;
  width: 39vw;
  z-index: 11;
}

.oceanica-img-full {
  position: absolute;
  opacity: 0;
  transition: all .2s;
  width: 39vw;
  z-index: 11;
}

.oceanica-img-crop {
  position: absolute;
  opacity: 0;
  transition: all .2s;
  width: 39vw;
  z-index: 11;
}

.viewport-header {
  position: relative;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.oceanica-img-2 {
  width: 14vw;
  height: auto;
  object-fit: cover;
  opacity: 0;
  position: absolute;
  left: 5%;
  top: 6%;
  z-index: 9999;
  transition: all .2s;
  z-index: 11;
}

.home-img {
}

/*Nav*/
nav {
  z-index: 11;
  width: 30vw;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  position: absolute;
  top: 6.5%;
  opacity: 0;
  z-index: 999999;
  transition: all .2s;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-family: "Cormorant Garamond";
  font-size: 1.16vw;
  transition: color .2s;
}

nav a:hover {
  color: #050d28;
}

.home-title {
  font-family: "Cormorant Garamond";
  font-size: 2.4vw;
  font-weight: 300;
  position: absolute;
  left: 24vw;
  top: 73vh;
  opacity: 0;
  transition: all .2s;
}

.home-subtitle {
  font-family: "Cormorant Garamond";
  font-size: 1.5vw;
  font-weight: 300;
  position: absolute;
  left: 34vw;
  top: 81vh;
  opacity: 0;
  transition: all .2s;
}

/*Pre Loader*/
#container {
  width: 100vw;
  position: fixed;
  height: 100vh;
  background: #eff4f2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader {
  position: relative;
  width: 120px;
  height: 120px;
  font-size: 18px;
  color: #050d28;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader::after {
  content: '';
  position: absolute;
  top: -40px;
  left: -40px;
  right: -40px;
  bottom: -40px;
  border-radius: 50%;
  border-top: 4px solid rgba(255, 255, 255, 0.6);
  border-right: 4px solid rgba(255, 255, 255, 0.6);
  border-bottom: 4px solid rgba(255, 255, 255, 0.6);
  border-left: 4px solid #050d2810;
  transform: translateZ(0);
  animation: load 2.8s infinite linear;
}
@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}