* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

/*Audio Player */
.zeiss-audio-player {
	width: 100%;
	max-width: 640px;
	margin-bottom: 40px;
}

.audio-player-body {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/*padding-bottom: 0px;*/
	padding-bottom: 10px;
	border-bottom: 1px solid #21212135;
}

.audio-player-controls {
}

.audio-player-controls button {
	position: relative;
	border: none;
	background: none;
	color: #000;
	font-family: "Roboto";
	/*mobil stylefont-size: 11px !important;*/
	font-size: 16px;
	line-height: 24px;
	/*line-height: 21px;*/
	letter-spacing: .15px;
	padding: 0;
	/*margin-right: 13px !important;*/
	margin-right: 25px;
	margin-bottom: 0;
	cursor: pointer;
	transition: all .3s ease-in-out;
}

.audio-player-controls button:before {
	content: "";
	position: absolute;
	bottom: -4px;
	left: 0;
	width: 0;
	height: 1px;
	background: #ddd;
	transition: all .3s ease-in-out;
}

.audio-player-controls button:hover:before {
	width: 100%;
}

.audio-player-controls button.audio-player-play:active:before,
.audio-player-controls button.audio-player-play:focus:before,
.audio-player-controls button.audio-player-pause:active:before,
.audio-player-controls button.audio-player-pause:focus:before,
.audio-player-controls button.audio-player-play-two:active:before,
.audio-player-controls button.audio-player-play-two:focus:before,
.audio-player-controls button.audio-player-pause-two:active:before,
.audio-player-controls button.audio-player-pause-two:focus:before,
.audio-player-controls button.amplitude-stop:active:before {
	width: 100%;
	background: #6200EE;
}

.audio-player-controls button:focus,
.audio-player-controls button:active {
	outline: none;
}

.audio-player-progress progress {
	width: 100%;
}

.amplitude-song-slider {
	display: none;
}

.progress-ring__circle,
.progress-ring__circle_two {
  stroke-dasharray: 10 20;
}

.progress-ring__circle,
.progress-ring__circle_two {
  transition: stroke-dashoffset 0.35s;
}

.progress-ring__circle,
.progress-ring__circle_two {
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%,
}

.progress-ring__circle,
.progress-ring__circle_two {
  transition: 0.35s stroke-dashoffset;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.circle2 {
  stroke-dasharray: 10 20;
}

.circle2 {
  transition: stroke-dashoffset 0.35s;
}

.circle2 {
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%,
}

.circle2 {
  transition: 0.35s stroke-dashoffset;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.audio-player-footer {
	/*margin-top: 0px;*/
	margin-top: 25px;
}

.audio-player-footer-txt {
	/*font-size: 13px !important;*/
	font-size: 16px;
	line-height: 18px;
	/*line-height: 15px;*/
	letter-spacing: .25px;
	font-family: "Roboto";
	font-weight: 200;
	color: #666666;
}
